{% extends 'forum/base.html' %}

{% block content %}

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">Home</li>
	</ol>
</nav>


<div class="table-card">
	<table>
		<thead>
			<tr>
				<th>Topic</th>
				<th># Posts</th>
			</tr>
		</thead>
		<tbody>
			{% for topic in topics %}
			<tr>
				<td><a href="{% url 'topic' topic.id %}">{{topic.name}}</a></td>
				<td>{{topic.post_set.count}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


{% if user.is_staff %}
<button onclick="location.href='{% url 'new_topic' %}';" type="button" class="btn btn-primary">New Topic</button>
{% endif %}


{% endblock %}
