{% extends 'forum/base.html' %}

{% block content %}

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'topic' post.topic.id %}">{{post.topic}}</a></li>
		<li class="breadcrumb-item active">{{post.title}}</li>
	</ol>
</nav>

{% include './post_section.html' with post=post %}

{% for reply in replies %}
{% include './post_section.html' with post=reply %}
{% endfor %}

{% include './new_post_form_section.html' with parent=post %}

{% endblock %}
