{% extends 'forum/base.html' %}
{% load humanize %}

{% block content %}

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item active">{{topic}}</li>
	</ol>
</nav>


<div class="table-card">
	<table>
		<thead>
			<tr>
				<th>Thread</th>
				<th>Replies</th>
				<th>Votes</th>
				<th>Time Posted</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
			<tr>
				<td><a href="{% url 'post' post.id %}">{{ post.title |truncatechars_html:50 }}</a></td>
				<td>{{post.post_set.count}}</td>
				<td>{{post.vote_set.count}}</td>
				<td>{{post.date|naturaltime}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


<button onclick="location.href='{% url 'new_thread' topic.id %}';" type="button" class="btn btn-primary">New Thread</button>


{% endblock %}
